<!DOCTYPE html>
<html>
<head>
	<title>App169</title>
</head>
<body>
<h1>Login</h1> 
<form action='/login' method='POST' >
	<input type='email' name='email'/>
	<input type='password' name='password'/>
	<input type='submit' name='login' value='login'/>
</form>
<br/>
<a href="/">Home</a>
</body>
</html>