<!DOCTYPE html>
<html>
<head>
	<title>App169</title>
</head>
<body>
<h1>Fill out Registion Form</h1> 
<form action='/' method='POST' >
	<input type='text' name='name' placeholder='Enter name...'/>
	<input type='email' name='email' placeholder='Enter email...'/>
	<input type='password' name='password'/>
	<input type='submit' name='register' value='register'/>
</form>
<br/>
<a href="/">Home</a>
</body>
</html>